.btn {
    background-color: $main-color;
    padding: 18px 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    transition: .4s all;
    &:hover {
        cursor: pointer;
        background-color: #dc5238;
    }
    &_phz32{
        padding-right: 32px;
        padding-left: 32px;
    }
    &_phz45{
        padding-right: 45px;
        padding-left: 45px;
    }

}