.footer {
    padding: 20px 0px 30px 0px;
    background: #25333c;
    &__top {
        display: grid;
        grid-template-columns: 98px 1fr 180px 165px;
        align-items: center;
        position: relative;
        .logo {
            z-index: 0;
        }
    }
    &__title {
        justify-self: start;
        margin-left: 44px;
    }
    &__help {
        margin-right: 13px;
        text-align: right;
        span {
            display: block;
            
            font-size: 14px;
            font-weight: 300;
            color: #fff;
        }
        a {
            display: block;
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
    &__divide {
        margin: 25px 0px;
        border: none;
        width: 100%;
        height: 2px;
        background-color: #677177;
    }
    &__bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 13px;
        justify-items: start;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.575);
    }
    &__policy {
        color:  $main-color;
        &:hover {
            color: $main-color;
        }
    }
    &__sign {
        justify-self: end;
        display: flex;
        align-items: center;
    }
    &__bottom-icon {
        margin-left: 8px;
    }
}

