.wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    display: none;
    transition: .5s all;
    z-index: 1;

    &_active {
        background-color: rgba(255, 255, 255, 0);
        opacity: 1;
        display: block;
    }
    &_active-white {
        background-color: rgba(255, 255, 255, 0.496);
        opacity: 1;
        display: block;
    }
}


.popup {
    position: absolute;
    background-color: #25333c;
    border-radius: 10px;
    opacity: 0;
    transition: .6s all;
    min-height: 100px;
    z-index: 2;

    &_top {
        top: 140px;
        right: 180px;

        &:after {
            right: -15px;
            -webkit-box-shadow: 29px -23px 66px -43px rgba(217, 213, 217, 1);
            -moz-box-shadow: 29px -23px 66px -43px rgba(217, 213, 217, 1);
            box-shadow: 29px -23px 66px -43px rgba(217, 213, 217, 1);
        }
        @media (max-width: 992px) {
            display: none;
        }
    }

    &_bottom {
        bottom: 145px;
        right: 60px;
        @media (max-width: 992px) {
            left: auto;
            right: 50%;
            transform: translateX(50%);
            &:after {
                display: none;
            }
        }
    }

    &_active {
        opacity: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: -15px;
        right: 15px;
        width: calc(100% + 0px);
        height: calc(100% + 30px);
        border: 1px solid rgba(255, 255, 255, 0.578);
        border-radius: 10px;
        -webkit-box-shadow: -20px -20px 65px -19px rgba(235, 235, 235, 1);
        -moz-box-shadow: -20px -20px 65px -19px rgba(235, 235, 235, 1);
        box-shadow: -20px -20px 65px -19px rgba(235, 235, 235, 1);
    }

    &__form {
        width: 300px;
        padding: 30px;
        border-radius: 10px;
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr;
    }

    &__input {
        display: block;
        padding: 10px;
        width: 100%;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.285);
        margin-bottom: 15px;
        grid-column: 1 / 3;
        z-index: 100;
    }

    &__btn {
        display: block;
        margin-right: auto;
        padding: 10px 20px !important;
        z-index: 100;
    }

    &__icon {
        display: block;
        width: 20px;
        height: 20px;
        justify-self: center;
        cursor: pointer;
        z-index: 1;
        transition: .5s all ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}