@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .advantages {
        &__items {

        }
        &__item {
            column-gap: 10px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        &__items {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 576px) {
    .advantages {
        padding-bottom: 30px;
        &__items {
            margin-top: 20px;
            row-gap: 0px;
        }
        &__item {
            grid-template-columns: 1fr;
        }
        &__icon {
            grid-row: unset;
            display: flex;
            justify-self: center;
        }
        &__descr {
            grid-column: unset;
        }
    }
}