@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    .footer {
        &__title {
            margin-left: 25px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__top {
            grid-template-columns: 70px 1fr 165px;
            grid-template-rows: auto auto;
        }
        &__title {
            margin-left: 0px;
            grid-row: 1 / 3;
        }
        &__help {
            grid-column: 3 / 4;
            span {
                display: none;
            }
        }
        &__btn {
            grid-column: 3 / 4;
        }
        &__bottom {
            align-items: center;
        }
        .logo {
            grid-row: 1 / 3;
        }
    }
    
}

@media (max-width: 576px) {
    .footer {
        &__top {
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto auto;
            row-gap: 15px;
            justify-items: center;
        }
        &__title {
            margin-left: 0px auto;
            grid-row: unset;
            grid-column: 1 / 3;
        }
        &__help {
            grid-column: unset;
            justify-self: start;
            a {
                font-family: 15px;
            }
        }
        &__btn {
            padding: 16px 20px!important;
            grid-column: 1 / 3;
            width: 50%;
            font-size: 11px!important;
        }
        &__bottom {
            align-items: center;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            font-size: 12px;
        }
        &__sign {
            grid-column: 2 / 3;
        }
        .logo {
            width: 40px;
            grid-row: 2 / 3;
        }
    }
    
}
@media (max-width: 350px) {
    .footer {
        &__btn {
            width: 70%;
        }
    }
}